 /* Tắt viền sáng và hiệu ứng focus/active cho nút đăng nhập và danh mục */
      .btn.dropdown-toggle:focus,
      .btn.dropdown-toggle:active,
      .btn.dropdown-toggle:focus-visible {
          outline: none !important;
          box-shadow: none !important;
      }
      /* CSS cho search form */
      .search-form {
        display: flex;
        align-items: center;
        border-radius: 30px;
        background-color: white;
      }
      .search-box {
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        font-family: Quicksand, sans-serif;
        border: none;
        width: 500px;
        outline: none;
        border-radius: 30px 0 0 30px;
        background: white;
        box-shadow: none;
      }
      .btn-search {
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 10px 15px;
        border-radius: 0 30px 30px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btn-search svg {
        width: 22px;
        height: 22px;
        stroke: #333;
      }
      .navbar-cart {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10px;
      }
      .cart-items, .login-icon {
        position: relative;
        font-family: Quicksand, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #333 !important;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: color 0.3s ease;
      }
      .cart-items i {
        font-size: 24px;
        margin-right: 8px;
        color: #000;
        transition: transform 0.2s ease;
      }
      .cart-count, .login-text {
        font-size: 13px;
        font-weight: bold;
      }
      /* Hover effect */
      .cart-items:hover i {
        transform: scale(1.1);
        color: #007bff;
      }
      .cart-items:hover {
        color: #007bff !important;
      }
      .logo_nhom {
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #1f5622;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: default;
        transition: color 0.3s ease;
        text-decoration: none;
      }
      .logo_nhom:hover {
        color: #388E3C;
        cursor: pointer;
      }
      .login-icon i {
        color: black;
        font-size: 22px;
        cursor: pointer;
        transition: color 0.3s ease;
      }
      .login-icon {
        margin-left: 20px;
        cursor: pointer;
      }
      .login-icon:hover i {
        transform: scale(1.1);
        color: #007bff;
      }
      .login-icon:hover {
        color: #007bff !important;
      }
      .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 0.5px;
      }